.input {
  outline: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
  background: #f5f6f7;

  &_error{
    border: 1px solid red;
  }
  &+p{
    color: red;
  }
}