%button_submit_sample{
  cursor: pointer;
  width: max-content;
  background-color: #00a400;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  margin: auto;
}

%button_link_sample{
  cursor: pointer;
  width: max-content;
  background: none;
  border: none;
  color: blue;
  margin: auto;
}
.registration{
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button_submit{
    @extend %button_submit_sample;
    &:hover{
      opacity: 0.9;
    }

    &:active{
      opacity: 0.8;
    }
  }

  &__button_signin{
    @extend %button_link_sample;
  }
}