.gender{
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__title {
    color: #606770;
    font-size: 12px;
  }

  &__radios{
    display: flex;
    gap: 10px;
  }

  &__validation{
    color: red;
  }
}