.modal{
  &__container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, .8);
  }

  &__content {
    border-radius: 8px;
    padding: 16px;
    background: white;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    z-index: 3;
    transform: scale(0);
    transition: all 0.5s;

    &_active {
      transform: scale(1);
    }
  }
}