@import "../Registration/registration.scss";

.signin{
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button_submit{
    @extend %button_submit_sample;
    &:hover{
      opacity: 0.9;
    }

    &:active{
      opacity: 0.8;
    }
  }
  &__button_registration{
    @extend %button_link_sample;
  }
}