.title{
  &__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    font-weight: 600;
    font-size: 32px;
  }

  &__subtitle{
    color: #606770;
    font-size: 15px;
  }

  &__line {
    height: 1px;
    margin-left: -15px;
    width: calc(100% + 30px);
    background: #dadde1;
  }
}