.radio{
  &__label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #ccd0d5;
    padding: 5px;
    border-radius: 4px;
  }
}